.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.venv.bak/
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.dist-info/
.eggs/
*.egg-info/
.build/
.dist/
.ipynb_checkpoints/
.DS_Store
